<div class="card">
  {{#if @results}}
  <ul class="list-group list-group-flush">
    {{#each @tasks as |task|}}
    {{#if task.isComplete}}
    <SingleTask @task={{task}} />
    {{/if}}
    {{/each}}
  </ul>
  {{else}}
  <img class="not-found" src="assets/not-found.png">
  {{/if}}
  {{!-- <img class="notfound" src="assets/not-found.png" /> --}}
</div>