<div class="card">
  <ul class="list-group list-group-flush">
    {{#each @tasks as |task|}}
    {{#if task.isComplete}}
    <SingleTask @task={{task}} />
    {{/if}}
    {{/each}}
  </ul>
  {{!-- <img class="notfound" src="assets/not-found.png" /> --}}
</div>