<div class="anapanda">
  <img class="anapanda-image" src="assets/kummit_logo.png" />
</div>
<ul class="side-nav-list">
  <li><a href="#" class="active"> <i class="material-icons">check_circle_outline</i> My Tasks</a></li>
  <li><a href="#"> <i class="material-icons">event_note</i>Project</a></li>
  <li><a href="#"><i class="material-icons">date_range</i>Calendar</a></li>
</ul>